.strength {
  display: flex;
  flex-direction: row;
}

.strength__list {
  display: flex;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: 2px;


  &-indicator:last-of-type {
    margin: 0 !important;
  }

  &-indicator {
    background: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    flex-grow: 1;
  }
}

