<main class="main">
  <div class="container">
    <form class="form-check">
          <div class="card shadow-sm" *ngIf="!complete">
            <form [formGroup]="signupForm">
              <div class="form-check__fields">
                <div class="form-group__password">
                  <label for="password" class="form-group__password-label"><strong>Password</strong></label>
                  <input
                    id="password"
                    type="text"
                    class="form-group__password-item"
                    formControlName="password"
                    placeholder="Choose a password"
                    autocomplete="new-password"
                    [ngClass]="{ 'is-valid': (submitted || form.password.dirty) && !form.password.errors, 'is-invalid': (submitted || form.password.dirty) && form.password.errors }">
                </div>
                <div class="form-group__password-errors" *ngIf="form.password.errors">
                  <span class="form-group__password-error" *ngIf="form.password.errors?.['required']"><strong>Password is required</strong></span>
                  <span class="form-group__password-error" *ngIf="form.password.errors?.['lessThenEight']"><strong>Please use more then 8 symbols and capital letters</strong></span>
                  <span class="form-group__password-error" *ngIf="form.password.errors?.['upperLetters']"><strong>Please use numbers</strong></span>
                  <span class="form-group__password-error" *ngIf="form.password.errors?.['numbers']"><strong>Please enter the special symbols</strong></span>
                </div>
              </div>
                <app-password [passwordToCheck]="signupForm.value.password" (passwordStrength)="onPasswordStrengthChanged($event)"></app-password>
              </form>
          </div>
    </form>
  </div>
</main>
